!!! 5
%html
%head
	%title Pin Board
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	%nav.navbar.navbar-invert
		.container
			<center>
			

			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-invert
					%h2= link_to "Home", root_path
					%li= link_to "My Pins", user_path(current_user)
					%li= link_to "Users", users_path
					%li= link_to "New Pin", new_pin_path
					%li= link_to "Account", edit_user_registration_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
					.nav.round-image-50= image_tag(current_user.avatar.url(:thumb))
					
			- else
				%ul.nav.navbar-nav.navbar-invert
					%li= link_to "Sign Up", new_user_registration_path
					%li= link_to "Sign In", new_user_session_path
					%h2.loginBtn.loginBtn--facebook= link_to "Login with FB", user_facebook_omniauth_authorize_path, id: "sign_in"
					%h2.loginBtn.loginBtn--google= link_to "Login with Google", root_path

		</center>
	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert alert-info"
		= yield